:root {
  --banner-image-height-small: 300px;
  --banner-image-height-medium: 400px;
  --banner-image-height-large: 600px;
}

.images-banner {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
  align-items: center;
}
.images-banner .images-banner--title {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
  color: #fff;
  text-shadow: rgb(0 0 0 / 83%) 0px 3px 8px;
  font-size: calc(5em + 1vmin);
  margin: 0;
}
.images-banner .images-banner--image {
  height: var(--banner-image-height-small);
  position: relative;
  object-fit: cover;
  background-position-y: 0;
  background-position-x: center;
}
.images-banner .images-banner--buttons {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}
.images-banner-height--small .images-banner--image{
  height: var(--banner-image-height-small);
}
.images-banner-height--medium .images-banner--image{
  height: var(--banner-image-height-medium);
}
.images-banner-height--large .images-banner--image{
  height: var(--banner-image-height-large);
}